<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"> 
    <style>
        .box {
            text-align: center;
            margin: auto;
            padding-top: 20px;
        }

        .input {
            border: 2px solid #000000;
            width: 450px;
            font-size: 20px;
            height: 35px;
            margin-top: 8px;
        }

        .button {
            font-size: 20px;
            height: 40px;
            width: 75px;
            background-color: #070bf9;
            border: none;
            cursor: pointer;
            color: white; /* 修改文字颜色 */       
            border-radius: 5px; /* 添加圆角边框 */
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
        }

        .checkbox {
            transform: scale(1.5); /* 将复选框的大小调整为原来的1.5倍 */
        }
        .checkbox-group {
            margin-top:25px;
            display: grid;
            grid-template-columns: repeat(7, 1fr); /* 设置五列等宽 */
            grid-gap: 10px; /* 设置格子之间的间距 */
        }

        .result_box {
            margin-left:50px;
            margin-right:50px;
        }

        a {
            text-decoration: none;
        }

        .engine-image {
            width: 60px;
            height: 60px;
            margin: 0 auto;
        }

        .engine-name {
            margin-top: 5px;
            font-size: 18px;
        
            text-align: center;
        }
        .engine-container{
            display: grid;
            grid-template-columns: repeat(2, 1fr); /* 每列一份, 可以通过 repeat(n, 1fr) 来指定 n 列 */
            grid-gap: 20px; /* 控制元素之间的间距 */
            grid-row-gap: 30px;  /* 控制垂直方向的距离 */
            border: 3px solid gray;
        }

        .result_wrapper{
            display: grid;
            grid-template-columns: repeat(4, 2fr);  /* 修改此初调整网页布局，默认是 4x1 的排列格式 */
            grid-gap: 20px; /* 控制元素之间的间距 */
            margin-top:15px;
        }

        .single_item{
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height:121px
        }
        
    </style>
</head>
<body>
    <div id = "app">
        <div class="box">
            <img src="res/标题.png" alt="易搜索" height=46 width=143 ><br>
            <input type="text" id="search-input" class="input" maxlength="100" value="" v-model = "keyword">
            <button id="search-btn" class="button">搜索</button>
            <div class="checkbox-group">
                <label v-for="engine in Search_Engines.choose" :key="engine" style = "font-size: 18px;">
                    <input type="checkbox" v-model="Search_Engines.selected" :value="engine">
                    {{ engine }} &nbsp&nbsp
                </label>

                <label v-for="engine in blog.choose" :key="engine" style = "font-size: 18px;">
                    <input type="checkbox" v-model="blog.selected" :value="engine">
                    {{ engine }} &nbsp&nbsp
                </label>

                <label v-for="engine in scholar.choose" :key="engine" style = "font-size: 18px;">
                    <input type="checkbox" v-model="scholar.selected" :value="engine">
                    {{ engine }} &nbsp&nbsp
                </label>

                <label v-for="engine in video.choose" :key="engine" style = "font-size: 18px;">
                    <input type="checkbox" v-model="video.selected" :value="engine">
                    {{ engine }} &nbsp&nbsp
                </label>

            </div>
        
        </div>
   
        <br>
    

        <div id="search-results" class="result_box">

            <div class ="result_wrapper">
                <div v-if="Search_Engines.selected.length > 0" class="engine-container">
                    <div  v-for="item in Search_Engines.selected" :key="item" >
                            <div class="single_item">
                                <a :href="find_link(item)" target="_blank" style="color: #4c1aca;">
                                    <img  :src="find_picture(item)" class="engine-image">
                                    <div class ="engine-name"> {{ item }}</div>
                                </a>
                            </div>
                    </div>
                </div>
                

                <div v-if="blog.selected.length > 0"  class="engine-container">
                    <div v-for="item in blog.selected" :key="item">
                            <div class="single_item">
                                <a :href="find_link(item)" target="_blank" style="color: #4c1aca; ">
                                    <img  :src="find_picture(item)" class="engine-image">
                                    <div class ="engine-name"> {{ item }}</div>
                                </a>
                            </div>
                    </div>
                </div>

                <div v-if="AISearch.selected.length > 0"  class="engine-container">
                    <div v-for="item in AISearch.selected" :key="item">
                        <div class="single_item">
                            <a :href="find_link(item)" target="_blank" style="color: #4c1aca;">
                                <img  :src="find_picture(item)" class="engine-image">
                                <div class ="engine-name"> {{ item }}</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div v-if="video.selected.length > 0"  class="engine-container">
                    <div  v-for="item in video.selected" :key="item">
                        <div class="single_item">
                            <a :href="find_link(item)" target="_blank" style="color: #4c1aca;">
                                <img  :src="find_picture(item)" class="engine-image">
                                <div class ="engine-name"> {{ item }}</div>
                            </a>
                        </div>
                    </div>
                </div>

                
                <div v-if="scholar.selected.length > 0"  class="engine-container">
                    <div v-for="item in scholar.selected" :key="item">
                        <div class="single_item">
                            <a :href="find_link(item)" target="_blank" style="color: #4c1aca;">
                                <img  :src="find_picture(item)" class="engine-image">
                                <div class ="engine-name"> {{ item }}</div>
                            </a>
                        </div>
                    </div>
                </div>
              
                <div v-if="Social_Media.selected.length > 0"  class="engine-container">
                    <div  v-for="item in Social_Media.selected" :key="item">
                        <div class="single_item">
                            <a :href="find_link(item)" target="_blank" style="color: #4c1aca;">
                                <img  :src="find_picture(item)" class="engine-image">
                                <div class ="engine-name"> {{ item }}</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div v-if="DriveSearch.selected.length > 0"  class="engine-container">
                    <div  v-for="item in DriveSearch.selected" :key="item">
                        <div class="single_item">
                            <a :href="find_link(item)" target="_blank" style="color: #4c1aca;">
                                <img  :src="find_picture(item)" class="engine-image">
                                <div class ="engine-name"> {{ item }}</div>
                            </a>
                        </div>
                    </div>
                </div>

                <div v-if="OtherApp.selected.length > 0"  class="engine-container">
                    <div  v-for="item in OtherApp.selected" :key="item">
                        <div class="single_item">
                            <a :href="find_link(item)" target="_blank" style="color: #4c1aca;">
                                <img  :src="find_picture(item)" class="engine-image">
                                <div class ="engine-name"> {{ item }}</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

           
            
        </div>

    </div>

    <script src="vue.js"></script>

    <script>
        var app = new Vue({
            el: '#app',
            data: {
                keyword: "", //搜索的关键字
                Search_Engines: {
                    label:"搜索引擎",choose:['百度', '必应', 'Google','公众号'],selected:['百度', '必应', 'Google','公众号']
                },
                blog:{
                    label:"论坛",choose:['知乎','CSDN','Github','小红书'],selected:['知乎','CSDN','Github','小红书']
                },
                scholar:{
                    label:"学术",choose:['谷歌学术','arxiv','语义学术','中国知网'],selected:['谷歌学术','arxiv','语义学术','中国知网']
                },
                video:{
                    label:"视频",choose:['b站','抖音','油管','百度贴吧'],selected:['b站','抖音','油管','百度贴吧']
                },
                knowledge:{
                    label:"文库",choose:['百度文库','豆丁网','道客巴巴','原创力文档'],selected:['百度文库','豆丁网','道客巴巴','原创力文档']
                },
                Social_Media:{
                    label:"社交媒体",choose:['推特','Reddit','脸书','Instagra'],selected:['推特','Reddit','脸书','Instagra']
                },
                AISearch:{
                    label:"AI搜索",choose:['GPT3.5','Brave','Perplex','Genspark'],selected:['GPT3.5','Brave','Perplex','Genspark']
                },
                DriveSearch:{
                    label:"网盘搜索",choose:['小云搜索','云盘4K','夸克盘搜','热搜盘'],selected:['小云搜索','云盘4K','夸克盘搜','热搜盘']
                },

                OtherApp:{
                    label:"其余网页",choose:['邮件','网盘','GPT','梯子'],selected:['邮件','网盘','GPT','梯子']
                },

                Engines: [
                    //1.搜索引擎
                    { name: "百度", image: "res/百度.ico", link: "https://www.baidu.com/s?wd=" },
                    { name: "必应", image: "res/bing.ico", link: "https://cn.bing.com/search?q=" },
                    { name: "Google", image: "res/谷歌搜索.ico", link: "https://www.google.com/search?q=" },
                    { name: "公众号", image: "res/微信.ico", link: "https://weixin.sogou.com/weixin?type=2&query=" },

                

                    //2.论坛
                    { name: "知乎", image: "res/知乎.ico", link: "https://www.zhihu.com/search?q=" },
                    { name: "CSDN", image: "res/CSDN.ico", link: "https://so.csdn.net/so/search?t=blog&q=" },
                    { name: "Github", image: "res/Github.ico", link: "https://github.com/search?type=repositories&q=" },
                    { name: "小红书", image: "res/小红书.ico", link: "https://www.xiaohongshu.com/search_result?source=web_explore_feed&keyword="},

                    //3.学术
                    { name: "谷歌学术", image: "res/Google 学术搜索.ico", link: "https://scholar.google.com/scholar?q="},
                    { name: "中国知网", image: "res/知网.ico", link: "https://kns.cnki.net/kns8s/defaultresult/index?kw="},
                    { name: "SciHub", image: "res/Sci-hub.png", link: "https://sci-hub.se/"},  
                    { name: "IEEE", image: "res/IEEE.ico", link: "https://ieeexplore.ieee.org/search/searchresult.jsp?newsearch=true&queryText="},
                    { name: "arxiv", image: "res/arxiv.png", link: "https://arxiv.org/search/?searchtype=title&abstracts=show&order=-announced_date_first&size=50&query="},
                    { name: "语义学术", image: "res/语义学术.png", link: "https://www.semanticscholar.org/search?sort=relevance&q="},
                   
                    

                    //4.视频
                    { name: "b站", image: "res/b站.ico", link: "https://search.bilibili.com/video?keyword=" },
                    { name: "抖音", image: "res/抖音.ico", link: "https://www.douyin.com/search/"},
                    { name: "油管", image: "res/YouTube.ico", link: "https://www.youtube.com/results?search_query="},
                    { name: "百度贴吧", image: "res/百度贴吧.ico", link: "https://tieba.baidu.com/f/search/res?qw=" },


                    //5.文库
                    { name: "百度文库", image: "res/百度文库.png", link: "https://wenku.baidu.com/search?word=" },
                    { name: "豆丁网", image: "res/豆丁网.ico", link: "https://www.docin.com/search.do?nkey="},
                    { name: "道客巴巴", image: "res/道客巴巴.ico", link: "https://www.doc88.com/tag/"},
                    { name: "原创力文档", image: "res/原创力文档.ico", link: "https://max.book118.com/search.html?q="},

                    //6.AI搜索引擎
                    { name: "GPT3.5", image: "res/chatGPT.ico", link: "https://chat.openai.com/?q=" },
                    { name: "Brave", image: "res/brave.png", link: "https://search.brave.com/search?q="},
                    { name: "Perplex", image: "res/perplexity.ico", link: "https://www.perplexity.ai/search?q="},
                    { name: "Genspark", image: "res/Genspark.ico", link: "https://www.genspark.ai/search?query="},

                    //7.网盘搜索
                    { name: "小云搜索", image: "res/小云搜索.ico", link: "https://www.yunso.net/index/user/s?wd="},
                    { name: "云盘4K", image: "res/云盘4K.ico", link: "https://www.codelicence.cn?q="},
                    { name: "夸克盘搜", image: "res/夸克盘搜.ico", link: "https://qkpanso.com/search?q="},
                    { name: "热搜盘", image: "res/热搜盘.ico", link: "http://www.repanso.com/q?type=0&wd="},

                    //8.其他应用
                    { name: "邮件", image: "res/邮件.ico", link: "./Email/邮件.html?q="},
                    { name: "网盘", image: "res/网盘.ico", link: "./Drive/网盘.html?q="},
                    { name: "GPT", image: "res/ChatGPT_OpenAI.ico", link: "./ChatGpt/ChatGpt镜像.html?q="},
                    { name: "梯子", image: "res/Clash.ico", link: "./VPN/VPN列表.html?q="},

                    //9. 国外的社交媒体
                    { name: "推特", image: "res/X.ico", link: "https://x.com/search?src=typed_query&q="},
                    { name: "脸书", image: "res/Facebook.ico", link: "https://www.facebook.com/search/top/?q="},
                    { name: "Reddit", image: "res/Reddit.ico", link: "https://www.reddit.com/search/?q="},
                    { name: "Instagra", image: "res/Instagram.ico", link: "https://www.instagram.com/?q="},


                    
                ]
            },
            created() {

            },
            methods:{
                test(){ 
                    alert(JSON.stringify(this.Search_Engines.selected));
                },
                find_link(name){
                    const engine = this.Engines.find(engine => engine.name === name);
                    if (engine) {
                        return engine.link + this.keyword;
                    } else {
                        return "";
                    }
                },
                find_picture(name){
                    const engine = this.Engines.find(engine => engine.name === name);
                    if (engine) {
                        return engine.image
                    } else {
                        return "";
                    }
                }
            }
        });
    </script>
    
</body>
</html>


